// ========================================
// Colors
// ========================================
$black	: #000000;
$white 	: #FFFFFF;

$warmred    : #f45e39;
$sunshine   : #f5ad2e;
$vanilla    : #fafac7;
$cerulean   : #0a52d1;
$pacific    : #0fbad9;
$offWhite   : #f8f6ee;

$primary : $warmred;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px;
$tablet  :		769px;
$desktop : 		1000px;
$fullhd  :		1384px;

$headerHeight: 80px;